<li class="collection-item avatar company">
  <%=link_to jobs_path(company_id: company.id, type: 'J') do %>
  <span class="title"><%=company.name%></span>
  <%end%>
  <p><%=company.address%><br>
    <%=company.phone%>
  </p>
  <%=link_to company.site, class: ' secondary-content', target: '_blank' do %>
  <i class="material-icons">web</i>
  <%end%>
</li>