<li class="collection-item avatar">
  <i class="circle green">
  <% if job.score.total > 9.9 %>
  <%=job.score.total.round(1) - 1.0 %>
  <% else %>
  <%=job.score.total.round(1)%>
  <% end %></i>
  <%=link_to job_path(job.id), data: { no_turbolink: true } do %>
  <span class="title"><%=job.name%></span>
  <%end%>
  <p><%=job.company.name%><br>
    <%=job.record.paid_str%>
  </p>
  <%=link_to nil, class: 'secondary-content' do %>
  <%=job.appear_date%>
  <%end%>
</li>
