<li class="collection-item avatar">
  <i class="circle green"><%=job.score.total%></i>
  <%=link_to job_path(job.id) do %>
  <span class="title"><%=job.name%></span>
  <%end%>
  <p><%=job.company.name%><br>
    <%=job.record.paid_str%>
  </p>
  <%=link_to nil, class: 'secondary-content' do %>
  <%=job.appear_date%>
  <%end%>
</li>