<%= javascript_include_tag "highcharts.js", "chartkick" %>
<%=render partial: 'shared/nav_bar'%>
<div class="container">
  <div class="row">
    <div class="col s12 main-list">
      <h4><%=@job.name%></h4>
      <h5 class="grey-text text-darken-3"><%=@job.company.name%></h5>
    </div>
    <div class="col s12">
      <div class="col s12 m4 white">
        <p class="grey-text text-darken-1">
          <i class="material-icons">place</i> 
          <%=@job.company.name%><br>
          <i class="material-icons">phone</i>
          <%=@job.company.phone%>
        </p>
        
        <h6><i class="material-icons">arrow_drop_down</i> 本公司其他職缺</h6>
        <ul class="collection">
          <%=render partial: 'job_block', collection: @job.company.jobs, as: :job%>
        </ul>
      </div>
      <div class="col s12 m8 company-data">
        <div class="col s6"><h5 class="company-data"><i class="material-icons">work</i> 職缺資料</h5></div>
        <div class="col s6"><h5 class="company-data right">
          <a class="waves-effect waves-light btn white grey-text text-darken-3"><i class="material-icons left green-text">thumb_up</i>讚</a>
          <a class="waves-effect waves-light btn white grey-text text-darken-3"><i class="material-icons left red-text">thumb_down</i>幹</a>
        </h5></div>
        <%= bar_chart({"熱門度" => @job.score.popular_rate.number, "離職率" => @job.score.turnover_rate.number, "網友評分" => @job.score.netizen_rate.number, "公司評分" => @job.score.company_rate.number}, discrete: true, library: {chart: {backgroundColor: nil}}) %>
        <%#= pie_chart Goal.group(:name).count %>
        <br> <br> <br>
        <hr>
        <div class="col s6">
          <h6 class="company-data"><i class="material-icons">attach_money</i>薪資</h5>
          <p><%=@job.record.paid_str%></p>
        </div>
        <div class="col s6">
          <h6 class="company-data"><i class="material-icons">people</i> 需要人數</h5>
          <p><%=@job.record.need_str%></p>
        </div>
        <h6 class="company-data"><i class="material-icons">description</i> 說明</h5>
        <p><%=@job.record.description%>
        </p>
        <hr>
        <h6 class="company-data"><i class="material-icons">arrow_drop_down</i> 相關職缺</h6>
        <div class="row related">
          <%=render partial: 'recommend_job', collection: @recommend_jobs, as: :job%>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer grey">
  <div class="container">
    <a class="black-text" href="http://unnamed.taipei">© 2016 Unnamed Studio</a>
    <a class="grey-text text-lighten-4 right" href="mailto:g8071107@gmail.com">Contant Us.</a>
  </div>
</footer>