<div class="navbar-fixed">
  <nav class="white">
    <div class="nav-wrapper container">
      <a href="index" class="brand-logo"><%=image_tag 'logo-b'%></a>
      <a href="#" data-activates="slide-out" class="button-collapse grey-text"><i class="material-icons">menu</i></a>
      <ul class="side-nav" id="slide-out">
        <li><%=link_to '公司列表', jobs_path(name: params[:name], type: 'C'), class: "grey-text text-darken-3"%></a></li>
        <li><%=link_to '職缺列表', jobs_path(name: params[:name], type: 'J'), class: "grey-text text-darken-3"%></li>
      </ul>
      <ul class="right hide-on-med-and-down">
        <li><%=link_to '公司列表', jobs_path(name: params[:name], type: 'C'), class: "grey-text text-darken-3"%></a></li>
        <li><%=link_to '職缺列表', jobs_path(name: params[:name], type: 'J'), class: "grey-text text-darken-3"%></li>
      </ul>
    </div>
  </nav>
</div>